<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>car_adventure_icon.png</key>
		<dict>
			<key>x</key>
			<integer>216</integer>
			<key>y</key>
			<integer>116</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>originalHeight</key>
			<integer>71</integer>
		</dict>
		<key>car_adventure_txt.png</key>
		<dict>
			<key>x</key>
			<integer>75</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>233</integer>
			<key>height</key>
			<integer>102</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>233</integer>
			<key>originalHeight</key>
			<integer>102</integer>
		</dict>
		<key>car_adventure.png</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>120</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>158</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>102</integer>
			<key>originalHeight</key>
			<integer>158</integer>
		</dict>
		<key>car_sporty_icon.png</key>
		<dict>
			<key>x</key>
			<integer>217</integer>
			<key>y</key>
			<integer>192</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>originalHeight</key>
			<integer>71</integer>
		</dict>
		<key>car_sporty_txt.png</key>
		<dict>
			<key>x</key>
			<integer>292</integer>
			<key>y</key>
			<integer>115</integer>
			<key>width</key>
			<integer>181</integer>
			<key>height</key>
			<integer>105</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>181</integer>
			<key>originalHeight</key>
			<integer>105</integer>
		</dict>
		<key>car_sporty.png</key>
		<dict>
			<key>x</key>
			<integer>110</integer>
			<key>y</key>
			<integer>281</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>158</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>102</integer>
			<key>originalHeight</key>
			<integer>158</integer>
		</dict>
		<key>car_comfort_icon.png</key>
		<dict>
			<key>x</key>
			<integer>217</integer>
			<key>y</key>
			<integer>269</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>originalHeight</key>
			<integer>71</integer>
		</dict>
		<key>car_comfort_txt.png</key>
		<dict>
			<key>x</key>
			<integer>314</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>164</integer>
			<key>height</key>
			<integer>105</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>164</integer>
			<key>originalHeight</key>
			<integer>105</integer>
		</dict>
		<key>car_comfort.png</key>
		<dict>
			<key>x</key>
			<integer>110</integer>
			<key>y</key>
			<integer>117</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>158</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>102</integer>
			<key>originalHeight</key>
			<integer>158</integer>
		</dict>
		<key>car_smooth_icon.png</key>
		<dict>
			<key>x</key>
			<integer>213</integer>
			<key>y</key>
			<integer>346</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>originalHeight</key>
			<integer>71</integer>
		</dict>
		<key>car_smooth_txt.png</key>
		<dict>
			<key>x</key>
			<integer>291</integer>
			<key>y</key>
			<integer>228</integer>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>originalHeight</key>
			<integer>94</integer>
		</dict>
		<key>car_smooth.png</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>283</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>158</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>102</integer>
			<key>originalHeight</key>
			<integer>158</integer>
		</dict>
		<key>car_00.png</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>62</integer>
			<key>height</key>
			<integer>117</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>62</integer>
			<key>originalHeight</key>
			<integer>117</integer>
		</dict>
		<key>car_e4.png</key>
		<dict>
			<key>x</key>
			<integer>336</integer>
			<key>y</key>
			<integer>328</integer>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>52</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
		<key>car_e3.png</key>
		<dict>
			<key>x</key>
			<integer>290</integer>
			<key>y</key>
			<integer>329</integer>
			<key>width</key>
			<integer>43</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>43</integer>
			<key>originalHeight</key>
			<integer>88</integer>
		</dict>
		<key>car_e2.png</key>
		<dict>
			<key>x</key>
			<integer>393</integer>
			<key>y</key>
			<integer>327</integer>
			<key>width</key>
			<integer>55</integer>
			<key>height</key>
			<integer>99</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>55</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>car_e1.png</key>
		<dict>
			<key>x</key>
			<integer>451</integer>
			<key>y</key>
			<integer>328</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>107</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>58</integer>
			<key>originalHeight</key>
			<integer>107</integer>
		</dict>
	</dict>
</dict>
</plist>