<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>btn_submit_rank.png</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>384</integer>
			<key>width</key>
			<integer>452</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>452</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>ranktitle.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>323</integer>
			<key>height</key>
			<integer>372</integer>
			<key>offsetX</key>
			<real>-8.5</real>
			<key>offsetY</key>
			<real>13.5</real>
			<key>originalWidth</key>
			<integer>452</integer>
			<key>originalHeight</key>
			<integer>399</integer>
		</dict>
		<key>car_smooth_btn.png</key>
		<dict>
			<key>x</key>
			<integer>292</integer>
			<key>y</key>
			<integer>514</integer>
			<key>width</key>
			<integer>279</integer>
			<key>height</key>
			<integer>279</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>279</integer>
			<key>originalHeight</key>
			<integer>279</integer>
		</dict>
		<key>car_adventure_btn.png</key>
		<dict>
			<key>x</key>
			<integer>572</integer>
			<key>y</key>
			<integer>3</integer>
			<key>width</key>
			<integer>279</integer>
			<key>height</key>
			<integer>279</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>279</integer>
			<key>originalHeight</key>
			<integer>279</integer>
		</dict>
		<key>car_sporty_btn.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>509</integer>
			<key>width</key>
			<integer>279</integer>
			<key>height</key>
			<integer>279</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>279</integer>
			<key>originalHeight</key>
			<integer>279</integer>
		</dict>
		<key>car_comfort_btn.png</key>
		<dict>
			<key>x</key>
			<integer>574</integer>
			<key>y</key>
			<integer>292</integer>
			<key>width</key>
			<integer>279</integer>
			<key>height</key>
			<integer>279</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>279</integer>
			<key>originalHeight</key>
			<integer>279</integer>
		</dict>
		<key>btn_label_style.png</key>
		<dict>
			<key>x</key>
			<integer>27</integer>
			<key>y</key>
			<integer>462</integer>
			<key>width</key>
			<integer>152</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>152</integer>
			<key>originalHeight</key>
			<integer>39</integer>
		</dict>
		<key>btn_share.png</key>
		<dict>
			<key>x</key>
			<integer>327</integer>
			<key>y</key>
			<integer>211</integer>
			<key>width</key>
			<integer>110</integer>
			<key>height</key>
			<integer>116</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>116</integer>
		</dict>
		<key>btn_ranklist.png</key>
		<dict>
			<key>x</key>
			<integer>440</integer>
			<key>y</key>
			<integer>211</integer>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>116</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>116</integer>
		</dict>
		<key>btn_replay.png</key>
		<dict>
			<key>x</key>
			<integer>458</integer>
			<key>y</key>
			<integer>334</integer>
			<key>width</key>
			<integer>113</integer>
			<key>height</key>
			<integer>116</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>113</integer>
			<key>originalHeight</key>
			<integer>116</integer>
		</dict>
		<key>btn_start.png</key>
		<dict>
			<key>x</key>
			<integer>326</integer>
			<key>y</key>
			<integer>4</integer>
			<key>width</key>
			<integer>201</integer>
			<key>height</key>
			<integer>201</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>201</integer>
			<key>originalHeight</key>
			<integer>201</integer>
		</dict>
	</dict>
</dict>
</plist>